tarin_cvbrct_street.txt
val_cvbrct_street.txt
test_cvbrct_street.txt
tarin_cvbrct_air.txt
val_cvbrct_air.txt
test_cvbrct_air.txt
tarin_airound_ground.txt
val_airound_ground.txt 
test_airound_ground.txt
tarin_airound_air.txt
val_airound_air.txt
test_airound_air.txt
train_list.txt
test_list.txt
hsafoi.py
ariound_data.mat
cvbrct_data.mat
opsl.m
